*{
    margin: 0;
    padding: 0;
}
.logoimg{
    height: 100px;
    margin-right: 20px;
}
nav{
    position: static;
}

.AUh1{
    font-size: 100px;
    color: white;
}
.aboutusBG{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 40vh; 
    background-image: linear-gradient(#ffffff6e, #4793AF), url('../Asset/Images/washing_machines_in_the_self.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.background1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; 
    height: 80vh; 
    margin-top: 10vh;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f8f8f8;
}
.left_div{
    height: 62vh;
    width: 70vh;
    margin-top: 10px;
    margin-left: 10%;
    position: relative;
    border-radius: 10px;
}
.auTitle{
    display: flex;
    display: inline-block;
    background-color: #FFBF61;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.title{
    font-weight: bolder;
    margin-bottom: 5vh;
    margin: 1vh;
}
.auTitle, p{
    font-size: 13px;
    margin: 1vh;
}
.map {
    width: 97%;
    height: 25vh;
    border-radius: 10px;
    margin-left: 1vh;
}
.addPhone{
    display: flex;
}
.add{
    display: flex;
    align-items: center;
    height: 7vh;
    margin: 1vh;
}
.email{
    display: flex;
}
.locIcon{
    height: 45px;
    margin: 1vh;
}
.address{
    margin-top: 1.5vh;
}
.address h1{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(85, 84, 84);
}
.address p{
    font-size: 13px;
    margin: 1vh;
}
.form{
    height: 62vh;
    width: 60vh;
    margin-left: 5vh;
    margin-top: 10px;
    margin-right: 12%;
    position: relative;
    border-radius: 10px;
    padding: 25px;
    background-color: #FFBF61;
}
.sendMsg{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-bottom: 5vh;
    margin: 1vh;
    color: white;
}
.nameEmail{
    display: flex;
    justify-content: space-between;
    height: 5vh;  
    margin-left: .5vh;
    margin-right: .5vh; 
    margin-top: 4vh; 
}
.name{
    width: 26vh;
    padding-left: 2vh;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    margin-top: 1vh;
    margin-left: 1vh;
}
.emailid{
    width: 26vh;
    padding-left: 2vh;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    margin-top: 1vh;
    margin-left: 1vh;
}
.subject{
    width: 52.5vh;
    padding-left: 2vh;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    margin-top: 1vh;
    margin-left: 1.5vh;
    height: 4vh;
}
.message{
    width: 52.5vh;
    padding-left: 2vh;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    margin-top: 1vh;
    margin-left: 1.5vh;
    height: 24vh;
}
.send{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52.5vh;
    padding-left: 2vh;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    margin-top: 1vh;
    margin-left: 1.5vh;
    height: 4vh;
    background-color: #4793AF;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.send:hover{
    background-color: #FFBF61;
    border: 1px solid #4793AF;
    transition: ease .5s;
}
.ribbon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100%;
    background-color: #4793AF;
}
.footh1{
    width: 80vh;
    font-size: 20px;
}
.footh1 h1{
    width: 80vh;
    font-size: 30px;
    color: white;
}
.footp p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 4vh;
    font-size: 15px;
    color: white;
    background-color: #fdab08;
    border-radius: 10px;
    border: 1px solid #fdab08;
}
.footp p:hover{
    width: 10vh;
    height: 4vh;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    background-color: #4793AF;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 10vh;
    background-image: linear-gradient(#4793afc0, #4793afc0), url('../Asset/Images/laundry-saloon-567951_1280.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.footBox{
    width: 45vh;
}
.footBox p{
    font-size: 13px;
    color: white;
}
.logo2{
    height: 10vh;
}
.icon {
    color: #ff3c00; /* Change the color of the icon */
    font-size: 24px; /* Adjust the size of the icon */
}
.footBox2{
    margin-top: 6vh;
    margin-left: 5vh;
    width: 20vh;
}
.footBox2 h1{
    font-size: 23px;
    color: white;
}
.footBox2 {
    font-size: 13px;
    color: white;
}