*{
    margin: 0;
    padding: 0;
}
.logoimg{
    height: 100px;
    margin-right: 20px;
}
.cos-navbar{
    position: fixed !important; 
    width: 100%;
}

.background1 {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    height: 91vh; 
    background-image: linear-gradient(#4793afc0, #4793afc0), url('../Asset/Images/BGimg1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.left_div{
    height: 50vh;
    width: 40%;
    margin-top: 0px;
    margin-left: 4%;
}
.welcome{
    display: inline-block;
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 22vh;
    margin: 20px;
    margin-top: 15vh;
    padding: 5px;
    border-radius: 10px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-weight: bolder;
    font-style: normal;
    font-size: 20px;
    background-color: #fdab08;
    color: white;
    }
.discr1{
    font-size: 75px;
    font-weight: bolder;
    margin: 20px;
    color: white;
    
}
.para1{
    color: white;
    margin-left: 4%;
}
.pickUp{
    margin-top: 40px;
    width: 200px;
    height: 50px;  
    display: flex;
    padding: 10px;
    justify-content: center;
    border: 2px solid #fdab08; 
    border-radius: 10px;
    margin-left: 4%;
    color: white;
}
.icon { 
    height: 20px;
    margin: 5px;
}
.pickUp:hover{
    background-color: #fdab08;
}
.right_div{
    overflow: hidden;
}
.houseWife{
    height: 850px;
}
.star{
    position: absolute;
    height: 150px;
}
.Section2{
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 100%;
}
.box1{
    display: flex;
    justify-content: space-around;
    height: 30vh;
    width: 70%;
    margin-top: -7vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.137);
}
.inBox{
    margin: 15px;
    width: 30%;
}
.boximg{
    height: 10vh;
}
.inBox h1{
    font-size: 18px;
    font-weight: bold;
    color: rgb(85, 84, 84);
}
.ribbon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100%;
    background-color: #4793AF;
}
.footh1{
    width: 80vh;
    font-size: 20px;
}
.footh1 h1{
    width: 80vh;
    font-size: 30px;
    color: white;
}
.footp p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 4vh;
    font-size: 15px;
    color: white;
    background-color: #fdab08;
    border-radius: 10px;
    border: 1px solid #fdab08;
}
.footp p:hover{
    width: 10vh;
    height: 4vh;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    background-color: #4793AF;
}
.content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40vh;
    padding-top: 5vh;
    background-image: linear-gradient(#4793afc0, #4793afc0), url('../Asset/Images/laundry-saloon-567951_1280.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.footBox{
    width: 45vh;
}
.footBox p{
    font-size: 13px;
    color: white;
}
.logo2{
    height: 10vh;
}
.icon {
    color: #ff3c00; /* Change the color of the icon */
    font-size: 24px; /* Adjust the size of the icon */
}
.footBox2{
    margin-top: 6vh;
    margin-left: 5vh;
    width: 20vh;
}
.footBox2 h1{
    font-size: 23px;
}
.footBox2 {
    font-size: 13px;
    color: white;
}