*{
    margin: 0;
    padding: 0;
}
.logoimg{
    height: 100px;
    margin-right: 20px;
}
nav{
    position: static;
}

.AUh1{
    font-size: 100px;
    color: white;
}
.aboutusBG{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 40vh; 
    background-image: linear-gradient(#ffffff6e, #4793AF), url('../Asset/Images/laundry21.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.background1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; 
    height: 80vh; 
    margin-top: 10vh;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f8f8f8;
}















.ribbon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100%;
    background-color: #4793AF;
}
.footh1{
    width: 80vh;
    font-size: 20px;
}
.footh1 h1{
    width: 80vh;
    font-size: 30px;
    color: white;
}
.footp p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 4vh;
    font-size: 15px;
    color: white;
    background-color: #fdab08;
    border-radius: 10px;
    border: 1px solid #fdab08;
}
.footp p:hover{
    width: 10vh;
    height: 4vh;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    background-color: #4793AF;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 10vh;
    background-image: linear-gradient(#4793afc0, #4793afc0), url('../Asset/Images/laundry-saloon-567951_1280.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.footBox{
    width: 45vh;
}
.footBox p{
    font-size: 13px;
    color: white;
}
.logo2{
    height: 10vh;
}
.icon {
    color: #ff3c00; /* Change the color of the icon */
    font-size: 24px; /* Adjust the size of the icon */
}
.footBox2{
    margin-top: 6vh;
    margin-left: 5vh;
    width: 20vh;
}
.footBox2 h1{
    font-size: 23px;
    color: white;
}
.footBox2 {
    font-size: 13px;
    color: white;
}